<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="wrapper">
            <div class="kv-animation"></div>
            <div class="kv-product"></div>
            <div class="kv-slogan"></div>
            <div class="photo"></div>
            <div class="text1"></div>
            <div class="button">
                <div class="button-follow"></div>
                <div class="button-buy"></div>
            </div>
            <div class="text2"></div>
            <div class="product-group"></div>
            <div class="product"></div>            
            <div class="text3"></div>
        </div>
        <div class="contaniner">
            <div id="snowflake" class="snowflake"></div>
        </div>
        <div class="mask"></div>
        <div class="tools">
            <div class="qr"><img src="./assets/img/h5/qr.png" alt=""></div>
            <div class="copy" data-clipboard-text="123456123123"></div>
            <div class="copy-finish"></div>
        </div>
    </body>
</html>