// 配置变量
@import './config.less';
// 全局设置
@import './common.less';

// ------------------------------------横屏处理-----------------------------------------

// ------------------------------------横屏处理-----------------------------------------

@media screen and (orientation: portrait) {
    /*竖屏 css*/
    .block {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    /*横屏 css*/
    .block {
        z-index: 9999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        color: #fff;
        text-align: center;
        //line-height: 100vh;
        font-size: 16px;
        //display: none;

        img {
            margin: 12% 0 2% 0;
            width: 40%;
        }

        span {
            display: block;
        }
    }
}

// ------------------------------------初始化-----------------------------------------
html, body {
    width: 100%;
    height: 2133px;
}

body {
    font-size: 14px;
    overflow-x: hidden;

    &.bg {
        background-image: url('../assets/img/h5/bg.jpg');
        background-size: 100% auto;
    }
}

// ------------------------------------框架-----------------------------------------


// ------------------------------------loading-----------------------------------------
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    // line-height: 90vh;
    background-image: url('../assets/img/loading/bg.jpg');
    background-size: 100% auto;
    background-color: #f5d7d5;
    background-repeat: no-repeat;
    z-index: 99;

    .text {
        background-image: url('../assets/img/loading/text.png');
        width: 224px;
        height: 45px;
        background-size: contain;
        margin: 40vh auto 0 auto;
    }

    .bar {
        width: 335px;
        height: 45px;
        background-image: url('../assets/img/loading/bg.png');
        background-size: contain;
        margin: 20px auto 0 auto;
        position: relative;
        padding: 6px 10px;

        .progress {
            width: 100%;
            height: 32px;
            border-radius: 12px;
            background-image: url('../assets/img/loading/middle.png');
            background-repeat: repeat-x;
            background-size: contain;
        }
    }
}

// ------------------------------------内容-----------------------------------------
.wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.kv-animation {
    width: 750px;
    height: 532px;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url('../assets/img/h5/flower.png');
    // background-image: url('../assets/img/frame/kv_00000.png');
    // background-size: contain;
    // background-repeat: no-repeat;

    img {
        width: 100%;
    }
}

.kv-product {
    width: 153px;
    height: 252px;
    top: 154px;
    left: 39px;
    position: absolute;
    background-image: url('../assets/img/h5/KV-product.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.kv-slogan {
    width: 327px;
    height: 225px;
    top: 123px;
    left: 138px;
    position: absolute;
    background-image: url('../assets/img/h5/KV-slogan.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.photo {
    width: 528px;
    height: 388px;
    top: 470px;
    left: 123px;
    position: absolute;
    background-image: url('../assets/img/h5/photo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
    position: absolute;
    z-index: 20000;
}

.button-play {
    width: 528px;
    height: 388px;
    top: 470px;
    left: 123px;
    position: absolute;
}

.button-follow {
    width: 200px;
    height: 68px;
    top: 1040px;
    left: 136px;
    position: absolute;
    background-image: url('../assets/img/h5/btn-follow.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: kf-show 5000ms ease-in infinite;
}

.button-buy {
    width: 200px;
    height: 68px;
    top: 1040px;
    left: 414px;
    position: absolute;
    background-image: url('../assets/img/h5/btn-buy.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: kf-show 5000ms ease-in infinite;
}

.text1 {
    width: 350px * 1.1;
    height: 106px * 1.1;
    top: 880px;
    left: (750px - 350px * 1.1)/2;
    position: absolute;
    background-image: url('../assets/img/h5/text-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.text2 {
    width: 289px;
    height: 88px;
    top: 1224px;
    left: 66px;
    position: absolute;
    background-image: url('../assets/img/h5/text-2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.product {
    width: 316px;
    height: 606px;
    top: 1319px;
    left: 0;
    position: absolute;
    background-image: url('../assets/img/h5/product.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.product-group {
    width: 310px;
    height: 424px;
    top: 1209px;
    left: 416px;
    position: absolute;
    background-image: url('../assets/img/h5/product-group.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.text3 {
    width: 181px;
    height: 88px;
    top: 1733px;
    left: 397px;
    position: absolute;
    background-image: url('../assets/img/h5/text-3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.sys-music {
    .toggle {
        position: absolute;
        width: 45px;
        height: 45px;
        background-image: url('../assets/img/h5/music.png');
        background-size: 100% auto;
        left: 25px;
        top: 30px;
        z-index: 1222;
    }

    .play {
        animation: kf-rotate 2500ms linear infinite;
    }

    .pause {
        background-position-y: -100%;
    }
}

.contaniner, .snowflake {
    z-index: 1111;
    position: absolute;
    width: 100vw;
    height: 2133px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mask {
    z-index: 20001;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.tools {
    z-index: 20002;
    position: fixed;
    display: none;
}

.qr {
    width: 574px;
    height: 517px;
    top: 200px;
    left: 92px;
    position: absolute;
    display: none;
    // background-image: url('../assets/img/h5/qr.png');
    // background-size: contain;
    // background-repeat: no-repeat;
    img {
        width: 100%;
    }
}

.copy {
    width: 574px;
    height: 412px;
    top: 200px;
    left: 92px;
    position: absolute;
    background-image: url('../assets/img/h5/copy.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: none;

    span {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;

        &.qiang {
            width: 43px;
            height: 44px;
            background-image: url('../assets/img/h5/qiang.png');
            top: 223px;
            left: 253px;
            animation: kf-shake 1000ms linear 250ms infinite;
        }

        &.xian {
            width: 39px;
            height: 40px;
            background-image: url('../assets/img/h5/xian.png');
            top: 223px;
            left: 302px;
            animation: kf-shake 1000ms linear 500ms infinite;
        }

        &.gou {
            width: 45px;
            height: 44px;
            background-image: url('../assets/img/h5/gou.png');
            top: 223px;
            left: 344px;
            animation: kf-shake 1000ms linear 750ms infinite;
        }
    }
}

.copy-finish {
    width: 574px;
    height: 385px;
    top: 200px;
    left: 92px;
    position: absolute;
    background-image: url('../assets/img/h5/copy-finish.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.sys-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20010;
    background-color: #000;
    display: none;

    video {
        width: 100%;
        height: 100%;
    }
}

@keyframes kf-show {
    0% { transform: scale(1); }
    30% { transform: scale(0.95); }
    //20% { transform: scale(1.2); }
    75% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@keyframes kf-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes kf-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}
